<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:amq="http://activemq.apache.org/schema/core"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

  <bean id="app" class="com.zzvc.mmps.alert.AlertApp" />

  <bean class="com.zzvc.mmps.alert.task.impl.ScheduleServicePlayerFaultAlertImpl">
    <property name="id" value="alert.player.fault" />
  </bean>
  <bean class="com.zzvc.mmps.alert.task.impl.ScheduleServicePlayerLastingFaultAlertImpl">
    <property name="id" value="alert.player.lasting.fault" />
  </bean>
  <bean class="com.zzvc.mmps.alert.task.impl.ScheduleServicePlayerMassiveFaultAlertImpl">
    <property name="id" value="alert.player.massive.fault" />
  </bean>
  <bean class="com.zzvc.mmps.alert.task.impl.ScheduleServiceServerFaultAlertImpl">
    <property name="id" value="alert.server.fault" />
  </bean>
  <bean class="com.zzvc.mmps.alert.task.impl.ScheduleServieJmsBrokerFaultAlertImpl">
    <property name="id" value="alert.jms.broker.fault" />
  </bean>
</beans>